.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 607px;
  height: 829px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #42047e 0%, #07f49e 100%);
}
.top-bar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}
.top-bar input {
  display: flex;
  width: 362px;
  height: 78px;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
}

.weather-image {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120px;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.data-container {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  font-size: 34px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.icon {
  margin-top: 10px;
}
