@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  height: max-content;
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12rem;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #07f49e;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.body-content{
  border-radius: 12px;
  background-image: linear-gradient(180deg, #42047e 0%, #07f49e 100%);
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
  padding: 1em 0;
}
.container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2rem auto;
  width: 90vw;
  height: max-content;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  align-items: center;
}
.top-bar input {
  display: flex;
  margin: 0 2rem;
  width: 20rem;
  height: 4rem;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
}

.weather-image {
  display: flex;
  justify-content: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 5rem;
  font-weight: 800;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.data-container {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  font-size: 34px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.icon {
  margin-top: 10px;
}

@media only screen and (min-width: 700px) {
  .container, .heading {
    width: 40rem;
  }
}
